---
extends: default
ignore: |
  **/flux-system/**
rules:
  # Ansible allows yes/no; Kubernetes and GitHub Actions prefer true/false.
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

  line-length:
    max: 120
    allow-non-breakable-words: true
    allow-non-breakable-inline-mappings: true

  document-start: disable

  indentation:
    spaces: 2
    indent-sequences: true

  comments:
    require-starting-space: true
    min-spaces-from-content: 1
  comments-indentation: disable

  trailing-spaces: enable

  empty-lines:
    max: 2
    max-start: 0
    max-end: 0

  braces:
    max-spaces-inside: 1

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
